<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <script src="../scripts/main.js"></script>
    </head>
    
    
    <body>
        <!--
            Header - Title Nav


                        Title

        

                Divs/Segments to Navigate

            
            Footer - Contact Help FAQ
        -->
        <nav>
            <div>
                <h1>Shiela Sutanto</h1>

                <button>Works</button>
                <button>About Me</button>
            </div>
        </nav>

        

        <footer>

        </footer>


    </body>
</html>